@media (max-width: 442px) {
    .config-profile-wrapper {
        width: 95%;
        border-radius: .2rem;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        margin: 2rem auto 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem 2rem;
        box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
        position: relative;
    
        .content-config-profile {
            width: 100%;
    
            .change-info-user-img-config {
                display: grid;
                grid-template-columns: 40% 60%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto 2rem;
                width: 80%;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
    
            }
            .change-info-user-config {
                display: grid;
                grid-template-columns: 30% 70%;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem 0;
    
    
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                    }
                }
    
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: right;
                }
    
                .input-form-change-name {
                    margin-left: 1rem;
    
                    input[type="text"], input[type="email"] {
                        width: 100%;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .4rem 1rem;
                        border-radius: .2rem;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .alert-userd-exists {
                        margin: .4rem 0;
                        span {
                            font-size: .9rem;
                            color: red;
                        }
                    }
        
                    p {
                        font-size: .8rem;
                        color: rgba($color: #000000, $alpha: .7);
                        margin: 1rem 0;
                    }
                }
    
            
    
            }
    
            .config-footer-form-config {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: unset;
                    border: unset;
                    background-color: #39aaf5;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    color: #fff;
                    border-radius: .2rem;
                    padding: .4rem 1.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all ease .2s;
    
                    &:focus {
                        outline: none;
                    }
    
                    &:hover {
                        background-color: #0575c0;
                        
                    }
                }
            }
        }
    
        .alert-error-config-msg {
            background-color: red;
            color: #fff;
            position: absolute;
            top: 5px;
            right: 50%;
            transform: translateX(50%);
            padding: .4rem 1rem;
            border-radius: .2rem;
            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: .9rem;
            }
        }
    }
    
    .fixed-alert-msg-from-server {
        position: fixed;
        bottom: 4rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        span {
            font-size: 1rem;
            color: rgba($color: #000000, $alpha: .8);
    
            strong {
                color: #0095f6;
            }
        }
    }
}

@media (min-width: 443px) and (max-width: 809px) {
    .config-profile-wrapper {
        width: 90%;
        border-radius: .2rem;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        margin: 2rem auto 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem 2rem;
        box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
        position: relative;
    
        .content-config-profile {
            width: 100%;
    
            .change-info-user-img-config {
                display: grid;
                grid-template-columns: 40% 60%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                width: 65%;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
    
            }
            .change-info-user-config {
                display: grid;
                grid-template-columns: 20% 80%;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem 0;
    
    
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                    }
                }
    
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: right;
                }
    
                .input-form-change-name {
                    margin-left: 1rem;
    
                    input[type="text"], input[type="email"] {
                        width: 100%;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .4rem 1rem;
                        border-radius: .2rem;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .alert-userd-exists {
                        margin: .4rem 0;
                        span {
                            font-size: .9rem;
                            color: red;
                        }
                    }
        
                    p {
                        font-size: .8rem;
                        color: rgba($color: #000000, $alpha: .7);
                        margin: 1rem 0;
                    }
                }
    
            
    
            }
    
            .config-footer-form-config {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: unset;
                    border: unset;
                    background-color: #39aaf5;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    color: #fff;
                    border-radius: .2rem;
                    padding: .4rem 1.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all ease .2s;
    
                    &:focus {
                        outline: none;
                    }
    
                    &:hover {
                        background-color: #0575c0;
                        
                    }
                }
            }
        }
    
        .alert-error-config-msg {
            background-color: red;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: .4rem 1rem;
            border-radius: .2rem;
            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
            span {
                font-size: .9rem;
            }
        }
    }
    
    .fixed-alert-msg-from-server {
        position: fixed;
        bottom: 4rem;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        span {
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: .8);
    
            strong {
                color: #0095f6;
            }
        }
    }
}

@media (min-width: 810px) and (max-width: 1003px) {
    .config-profile-wrapper {
        width: 80%;
        border-radius: .2rem;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        margin: 6rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
        position: relative;
    
        .content-config-profile {
            width: 70%;
    
            .change-info-user-img-config {
                display: grid;
                grid-template-columns: 40% 60%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                width: 50%;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
    
            }
            .change-info-user-config {
                display: grid;
                grid-template-columns: 20% 80%;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem 0;
    
    
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                    }
                }
    
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: right;
                }
    
                .input-form-change-name {
                    margin-left: 1rem;
    
                    input[type="text"], input[type="email"] {
                        width: 100%;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .4rem 1rem;
                        border-radius: .2rem;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .alert-userd-exists {
                        margin: .4rem 0;
                        span {
                            font-size: .9rem;
                            color: red;
                        }
                    }
        
                    p {
                        font-size: .8rem;
                        color: rgba($color: #000000, $alpha: .7);
                        margin: 1rem 0;
                    }
                }
    
            
    
            }
    
            .config-footer-form-config {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: unset;
                    border: unset;
                    background-color: #39aaf5;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    color: #fff;
                    border-radius: .2rem;
                    padding: .4rem 1.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all ease .2s;
    
                    &:focus {
                        outline: none;
                    }
    
                    &:hover {
                        background-color: #0575c0;
                        
                    }
                }
            }
        }
    
        .alert-error-config-msg {
            background-color: red;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: .4rem 1rem;
            border-radius: .2rem;
            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
            span {
                font-size: .9rem;
            }
        }
    }
    
    .fixed-alert-msg-from-server {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        span {
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: .8);
    
            strong {
                color: #0095f6;
            }
        }
    }
}

@media (min-width: 1004px) and (max-width: 1200px) {
    .config-profile-wrapper {
        width: 80%;
        border-radius: .2rem;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        margin: 6rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
        position: relative;
    
        .content-config-profile {
            width: 60%;
    
            .change-info-user-img-config {
                display: grid;
                grid-template-columns: 40% 60%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                width: 50%;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
    
            }
            .change-info-user-config {
                display: grid;
                grid-template-columns: 20% 80%;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem 0;
    
    
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                    }
                }
    
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: right;
                }
    
                .input-form-change-name {
                    margin-left: 1rem;
    
                    input[type="text"], input[type="email"] {
                        width: 100%;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .4rem 1rem;
                        border-radius: .2rem;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .alert-userd-exists {
                        margin: .4rem 0;
                        span {
                            font-size: .9rem;
                            color: red;
                        }
                    }
        
                    p {
                        font-size: .8rem;
                        color: rgba($color: #000000, $alpha: .7);
                        margin: 1rem 0;
                    }
                }
    
            
    
            }
    
            .config-footer-form-config {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: unset;
                    border: unset;
                    background-color: #39aaf5;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    color: #fff;
                    border-radius: .2rem;
                    padding: .4rem 1.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all ease .2s;
    
                    &:focus {
                        outline: none;
                    }
    
                    &:hover {
                        background-color: #0575c0;
                        
                    }
                }
            }
        }
    
        .alert-error-config-msg {
            background-color: red;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: .4rem 1rem;
            border-radius: .2rem;
            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
            span {
                font-size: .9rem;
            }
        }
    }
    
    .fixed-alert-msg-from-server {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        span {
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: .8);
    
            strong {
                color: #0095f6;
            }
        }
    }
}

@media (min-width: 1201px) {
    .config-profile-wrapper {
        width: 70%;
        border-radius: .2rem;
        background-color: #fff;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        margin: 6rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
        position: relative;
    
        .content-config-profile {
            width: 60%;
    
            .change-info-user-img-config {
                display: grid;
                grid-template-columns: 40% 60%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                width: 50%;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
    
            }
            .change-info-user-config {
                display: grid;
                grid-template-columns: 20% 80%;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem 0;
    
    
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .change-form-photo {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
    
                    input[type="file"] {
                        display: none;
                    }
    
                    label {
                        font-size: .9rem;
                    }
                }
    
                h5 {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: right;
                }
    
                .input-form-change-name {
                    margin-left: 1rem;
    
                    input[type="text"], input[type="email"] {
                        width: 100%;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .4rem 1rem;
                        border-radius: .2rem;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .alert-userd-exists {
                        margin: .4rem 0;
                        span {
                            font-size: .9rem;
                            color: red;
                        }
                    }
        
                    p {
                        font-size: .8rem;
                        color: rgba($color: #000000, $alpha: .7);
                        margin: 1rem 0;
                    }
                }
    
            
    
            }
    
            .config-footer-form-config {
                display: flex;
                justify-content: flex-end;
                button {
                    background-color: unset;
                    border: unset;
                    background-color: #39aaf5;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    color: #fff;
                    border-radius: .2rem;
                    padding: .4rem 1.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all ease .2s;
    
                    &:focus {
                        outline: none;
                    }
    
                    &:hover {
                        background-color: #0575c0;
                        
                    }
                }
            }
        }
    
        .alert-error-config-msg {
            background-color: red;
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: .4rem 1rem;
            border-radius: .2rem;
            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
            span {
                font-size: .9rem;
            }
        }
    }
    
    .fixed-alert-msg-from-server {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
    
        span {
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: .8);
    
            strong {
                color: #0095f6;
            }
        }
    }
}