@media (max-width: 442px) {
  .sign-up-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-register-form,
    .go-to-login-redirection {
      box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.06);
      width: 95%;
    }

    .section-register-form {
      position: relative;
      background-color: #fff;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 2rem;
      border-radius: 0.2rem;
      margin-bottom: 1rem;

      .head-sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: 3rem;
          font-weight: 300;
          font-family: "Pacifico", cursive;
        }

        h2 {
          margin: 1rem 0;
          text-align: center;
          font-size: 1rem;
          color: rgba($color: #000000, $alpha: 0.5);
        }
      }

      form {
        display: flex;
        flex-direction: column;
        input[type="text"],
        input[type="password"],
        input[type="email"] {
          border: unset;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
          padding: 0.5rem 1rem;
          margin: 0.2rem 0;
          border-radius: 0.2rem;

          &:focus {
            outline: none;
          }
        }

        button {
          background-color: unset;
          border: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0.6rem 1rem;
          cursor: pointer;
          margin: 0.4rem 0;
          background-color: #39aaf5;
          color: #fff;
          transition: all ease 0.2s;

          &:hover {
            background-color: #0575c0;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .alert-error-msg {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem 1rem;
        border-radius: 0 0 0.2rem 0.2rem;
        span {
          color: #fff;
          font-size: 0.8rem;
        }
      }
    }

    .go-to-login-redirection {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: #fff;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);

      span {
        font-size: 0.9rem;
        a {
          color: #39aaf5;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 443px) {
  .sign-up-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .section-register-form,
    .go-to-login-redirection {
      box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.01);
      width: 340px;
    }

    .section-register-form {
      position: relative;
      background-color: #fff;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 2rem;
      border-radius: 0.2rem;
      margin-bottom: 1rem;

      .head-sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: 3rem;
          font-weight: 300;
          font-family: "Pacifico", cursive;
        }

        h2 {
          margin: 1rem 0;
          text-align: center;
          font-size: 1rem;
          color: rgba($color: #000000, $alpha: 0.5);
        }
      }

      form {
        display: flex;
        flex-direction: column;
        input[type="text"],
        input[type="password"],
        input[type="email"] {
          border: unset;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
          padding: 0.5rem 1rem;
          margin: 0.2rem 0;
          font-size: 0.8rem;
          border-radius: 0.2rem;

          &:focus {
            outline: none;
          }
        }

        button {
          background-color: unset;
          border: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0.6rem 1rem;
          cursor: pointer;
          margin: 0.4rem 0;
          background-color: #39aaf5;
          color: #fff;
          transition: all ease 0.2s;

          &:hover {
            background-color: #0575c0;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .alert-error-msg {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem 1rem;
        border-radius: 0 0 0.2rem 0.2rem;
        span {
          color: #fff;
          font-size: 0.8rem;
        }
      }
    }

    .go-to-login-redirection {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2rem;
      padding: 1rem;
      background-color: #fff;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);

      span {
        font-size: 0.9rem;
        a {
          color: #39aaf5;
          text-decoration: none;
        }
      }
    }
  }
}
