@media (max-width: 442px) {
  .wrappper-notifications-user {
    margin: 2rem auto;
    width: 80%;
  }
  .wrappper-notifications-user .title-notifications-user {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .wrappper-notifications-user .title-notifications-user h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  .wrappper-notifications-user .grid-notifications-user {
    justify-content: center;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section img {
    width: 80px;
    height: 80px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section img {
    width: 80px;
    height: 80px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-y: hidden;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .photo-commented {
    transform: translateX(20px);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section img {
    width: 80px;
    height: 80px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .photo-liked {
    transform: translateX(20px);
  }
}
@media (min-width: 443px) and (max-width: 809px) {
  .wrappper-notifications-user {
    margin: 2rem auto 6rem;
    width: 80%;
  }
  .wrappper-notifications-user .title-notifications-user {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .wrappper-notifications-user .title-notifications-user h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  .wrappper-notifications-user .grid-notifications-user {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-y: hidden;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .photo-commented {
    transform: translateX(20px);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .photo-liked {
    transform: translateX(20px);
  }
}
@media (min-width: 810px) {
  .wrappper-notifications-user {
    margin: 6rem auto;
    width: 80%;
  }
  .wrappper-notifications-user .title-notifications-user {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .wrappper-notifications-user .title-notifications-user h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  .wrappper-notifications-user .grid-notifications-user {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-following-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-y: hidden;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-comment-section .photo-commented {
    transform: translateX(20px);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    background-color: #fff;
    width: 350px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 1rem 0;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section img {
    width: 100px;
    height: 100px;
    transform: translateX(-50px);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user {
    margin-left: 1rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span {
    font-size: 0.9rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user span a {
    text-decoration: none;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .info-notification-user p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
  }
  .wrappper-notifications-user .grid-notifications-user .notification-user-like-section .photo-liked {
    transform: translateX(20px);
  }
}

/*# sourceMappingURL=notifications.css.map */
