@media (max-width: 442px) {
    .upload-image-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        margin: 1rem auto 6rem;
    
        .form-section-upload-image {
            padding: 1rem;
            .upload-image-form {
                border: 1px dashed rgba($color: #000000, $alpha: .4);
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                label {
                    cursor: pointer;
                    font-weight: 300;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
    
                input[type="file"] {
                    display: none;
                }
            }
    
            .component-text-react {
                margin: 1rem 0 .4rem;
                textarea {
                    border: unset;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: .2rem;
                    resize: none;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.05rem;
                    font-family: 'Roboto', sans-serif;
                    height: 100px;
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);

                    &:focus {
                        outline: none;
                        border: 1px solid rgba($color: #0095f6, $alpha: .6);
                    }
                }
            }
    
            .configuration-post-aaction {
                background-color: #fff;
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                h5 {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
                .option-configuration {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    label {
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    .btn-container {
                        border: 1px solid rgba($color: #000000, $alpha: .3);
                        width: 58px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100%;
                        height: 25px;
                        border-radius: 1rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
    
                        .red-side-btn, .green-btn-side {
                            height: 100%;
                        }
    
                        .red-side-btn {
                            background-color: red;
                            border-radius: 1rem 0 0 1rem;
                        }
    
                        .green-btn-side {
                            background-color: green;
                            border-radius: 0 1rem 1rem 0;
                        }
    
                        .btn-dinamic {
                            position: absolute;
                            top: -4px;
                            right: -2px;
                            width: 35px;
                            border: 1px solid rgba($color: #000000, $alpha: .2);
                            height: 35px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
    
                            &.off {
                                left: -2px;
                            }
                        }
                    }
    
                }
            }
    
            button {
                background-color: unset;
                border: unset;
                background-color: #0095f6;
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                color: #fff;
                margin: .4rem 0;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                transition: all ease .2s;
                border-radius: .2rem;

                &:focus {
                    outline: none;
                }
    
                &:hover {
                    background-color: #0575c0;
                }
            }
    
            .alert-error-upload {
                background-color: red;
                padding: .4rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .2rem;
    
                span {
                    font-size: .9rem;
                    color: #fff;
                }
            }
        }
    
        .preview-image-upload {
            padding: 1rem;
    
            .alert-msg-preview {
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: .2rem;
                background-color: #fff;
                margin-bottom: .4rem;
                position: relative;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: .8);
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #0095f6;
                    content: '';
                }
            }
    
            .preview-image-show {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                .head-preview-image {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .info-about-user-preview {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
    
                        span {
                            font-size: .7rem;
                        }
                    }
                }
    
    
                .body-image-preview {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .principal-options-preview {
                    padding: 1rem;
                    .wrapper-options-preview {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        
                        .btn-principal-preview {
                            i {
                                margin-right: 1rem;
                            }
                            .fas {
                                color: red;
                            }
                        }
    
                        i {
                            font-size: 1.5rem;
                        }
                    }
    
                    .post-liked-info-preview {
                        margin: 1rem 0;
                        span {
                            strong {
    
                            }
                        }
                    }
    
                    .user-text-description-preview {
                        display: grid;
                        grid-template-columns: 30% 70%;
                        margin-bottom: 1rem;
                       span {
                        font-weight: 600;
                        font-size: .9rem;
                       }
                       
                        .description-box-preview {
                            padding: 0 .4rem;
    
                            p {
                                font-size: .9rem;
                            }
    
                       } 
                    }
    
                    .post-comments-box-preview {
                        .comment-post-box-preview {
                            display: grid;
                            margin: 1rem 0;
                            align-items: center;
                            grid-template-columns: 95% 5%;
                            p {
                                font-size: .9rem;
                                a {
                                    text-decoration: none;
                                    color: rgba($color: #000000, $alpha: .8);
                                    font-weight: 600;
                                }
                            }
    
                            i.fas {
                                color: red;
                            }
                        }
                    }
                }
    
            }
        }
    }
}

@media (min-width: 443px) and (max-width: 809px) {
    .upload-image-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        align-items: center;
        margin: 2rem auto 6rem;
    
        .form-section-upload-image {
            padding: 1rem;
            .upload-image-form {
                border: 1px dashed rgba($color: #000000, $alpha: .4);
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                label {
                    cursor: pointer;
                    font-weight: 300;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
    
                input[type="file"] {
                    display: none;
                }
            }
    
            .component-text-react {
                margin: 1rem 0 .4rem;
                textarea {
                    border: unset;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: .2rem;
                    resize: none;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.05rem;
                    font-family: 'Roboto', sans-serif;
                    height: 100px;
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);

                    &:focus {
                        outline: none;
                        border: 1px solid rgba($color: #0095f6, $alpha: .6);
                    }
                }
            }
    
            .configuration-post-aaction {
                background-color: #fff;
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                h5 {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
                .option-configuration {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    label {
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    .btn-container {
                        border: 1px solid rgba($color: #000000, $alpha: .3);
                        width: 58px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100%;
                        height: 25px;
                        border-radius: 1rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
    
                        .red-side-btn, .green-btn-side {
                            height: 100%;
                        }
    
                        .red-side-btn {
                            background-color: red;
                            border-radius: 1rem 0 0 1rem;
                        }
    
                        .green-btn-side {
                            background-color: green;
                            border-radius: 0 1rem 1rem 0;
                        }
    
                        .btn-dinamic {
                            position: absolute;
                            top: -4px;
                            right: -2px;
                            width: 35px;
                            border: 1px solid rgba($color: #000000, $alpha: .2);
                            height: 35px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
    
                            &.off {
                                left: -2px;
                            }
                        }
                    }
    
                }
            }
    
            button {
                background-color: unset;
                border: unset;
                background-color: #0095f6;
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                color: #fff;
                margin: .4rem 0;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                transition: all ease .2s;
                border-radius: .2rem;

                &:focus {
                    outline: none;
                }
    
                &:hover {
                    background-color: #0575c0;
                }
            }
    
            .alert-error-upload {
                background-color: red;
                padding: .4rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .2rem;
    
                span {
                    font-size: .9rem;
                    color: #fff;
                }
            }
        }
    
        .preview-image-upload {
            padding: 1rem;
    
            .alert-msg-preview {
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: .2rem;
                background-color: #fff;
                margin-bottom: .4rem;
                position: relative;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: .8);
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #0095f6;
                    content: '';
                }
            }
    
            .preview-image-show {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                .head-preview-image {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .info-about-user-preview {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
    
                        span {
                            font-size: .7rem;
                        }
                    }
                }
    
    
                .body-image-preview {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .principal-options-preview {
                    padding: 1rem;
                    .wrapper-options-preview {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        
                        .btn-principal-preview {
                            i {
                                margin-right: 1rem;
                            }
                            .fas {
                                color: red;
                            }
                        }
    
                        i {
                            font-size: 1.5rem;
                        }
                    }
    
                    .post-liked-info-preview {
                        margin: 1rem 0;
                        span {
                            strong {
    
                            }
                        }
                    }
    
                    .user-text-description-preview {
                        display: grid;
                        grid-template-columns: 24% 76%;
                        margin-bottom: 1rem;
                       span {
                        font-weight: 600;
                        font-size: .9rem;
                       }
                       
                        .description-box-preview {
                            padding: 0 .4rem;
    
                            p {
                                font-size: .9rem;
                            }
    
                       } 
                    }
    
                    .post-comments-box-preview {
                        .comment-post-box-preview {
                            display: grid;
                            margin: 1rem 0;
                            align-items: center;
                            grid-template-columns: 95% 5%;
                            p {
                                a {
                                    text-decoration: none;
                                    color: rgba($color: #000000, $alpha: .8);
                                    font-weight: 600;
                                }
                            }
    
                            i.fas {
                                color: red;
                            }
                        }
                    }
                }
    
            }
        }
    }
}

@media (min-width: 810px) and (max-width: 1003px) {
    .upload-image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
        margin: 6rem auto 4rem;
    
        .form-section-upload-image {
            padding: 1rem;
            .upload-image-form {
                border: 1px dashed rgba($color: #000000, $alpha: .4);
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                label {
                    cursor: pointer;
                    font-weight: 300;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
    
                input[type="file"] {
                    display: none;
                }
            }
    
            .component-text-react {
                margin: 1rem 0 .4rem;
                textarea {
                    border: unset;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: .2rem;
                    resize: none;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.05rem;
                    font-family: 'Roboto', sans-serif;
                    height: 100px;
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);

                    &:focus {
                        outline: none;
                        border: 1px solid rgba($color: #0095f6, $alpha: .6);
                    }
                }
            }
    
            .configuration-post-aaction {
                background-color: #fff;
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                h5 {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
                .option-configuration {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    label {
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    .btn-container {
                        border: 1px solid rgba($color: #000000, $alpha: .3);
                        width: 58px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100%;
                        height: 25px;
                        border-radius: 1rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
    
                        .red-side-btn, .green-btn-side {
                            height: 100%;
                        }
    
                        .red-side-btn {
                            background-color: red;
                            border-radius: 1rem 0 0 1rem;
                        }
    
                        .green-btn-side {
                            background-color: green;
                            border-radius: 0 1rem 1rem 0;
                        }
    
                        .btn-dinamic {
                            position: absolute;
                            top: -4px;
                            right: -2px;
                            width: 35px;
                            border: 1px solid rgba($color: #000000, $alpha: .2);
                            height: 35px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
    
                            &.off {
                                left: -2px;
                            }
                        }
                    }
    
                }
            }
    
            button {
                background-color: unset;
                border: unset;
                background-color: #0095f6;
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                color: #fff;
                margin: .4rem 0;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                transition: all ease .2s;
                border-radius: .2rem;

                &:focus {
                    outline: none;
                }
    
                &:hover {
                    background-color: #0575c0;
                }
            }
    
            .alert-error-upload {
                background-color: red;
                padding: .4rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .2rem;
    
                span {
                    font-size: .9rem;
                    color: #fff;
                }
            }
        }
    
        .preview-image-upload {
            padding: 1rem;
    
            .alert-msg-preview {
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: .2rem;
                background-color: #fff;
                margin-bottom: .4rem;
                position: relative;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: .8);
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #0095f6;
                    content: '';
                }
            }
    
            .preview-image-show {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                .head-preview-image {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .info-about-user-preview {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
    
                        span {
                            font-size: .7rem;
                        }
                    }
                }
    
    
                .body-image-preview {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .principal-options-preview {
                    padding: 1rem;
                    .wrapper-options-preview {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        
                        .btn-principal-preview {
                            i {
                                margin-right: 1rem;
                            }
                            .fas {
                                color: red;
                            }
                        }
    
                        i {
                            font-size: 1.5rem;
                        }
                    }
    
                    .post-liked-info-preview {
                        margin: 1rem 0;
                        span {
                            strong {
    
                            }
                        }
                    }
    
                    .user-text-description-preview {
                        display: grid;
                        grid-template-columns: 25% 75%;
                        margin-bottom: 1rem;
                       span {
                        font-weight: 600;
                        font-size: .9rem;
                       }
                       
                        .description-box-preview {
                            padding: 0 .4rem;
    
                            p {
                                font-size: .9rem;
                            }
    
                       } 
                    }
    
                    .post-comments-box-preview {
                        .comment-post-box-preview {
                            display: grid;
                            margin: 1rem 0;
                            align-items: center;
                            grid-template-columns: 95% 5%;
                            p {
                                a {
                                    text-decoration: none;
                                    color: rgba($color: #000000, $alpha: .8);
                                    font-weight: 600;
                                }
                            }
    
                            i.fas {
                                color: red;
                            }
                        }
                    }
                }
    
            }
        }
    }
}

@media (min-width: 1004px) and (max-width: 1200px) {
    .upload-image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        align-items: center;
        margin: 6rem auto 4rem;
    
        .form-section-upload-image {
            padding: 1rem;
            .upload-image-form {
                border: 1px dashed rgba($color: #000000, $alpha: .4);
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                label {
                    cursor: pointer;
                    font-weight: 300;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
    
                input[type="file"] {
                    display: none;
                }
            }
    
            .component-text-react {
                margin: 1rem 0 .4rem;
                textarea {
                    border: unset;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: .2rem;
                    resize: none;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.05rem;
                    font-family: 'Roboto', sans-serif;
                    height: 100px;
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);

                    &:focus {
                        outline: none;
                        border: 1px solid rgba($color: #0095f6, $alpha: .6);
                    }
                }
            }
    
            .configuration-post-aaction {
                background-color: #fff;
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                h5 {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
                .option-configuration {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    label {
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    .btn-container {
                        border: 1px solid rgba($color: #000000, $alpha: .3);
                        width: 58px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100%;
                        height: 25px;
                        border-radius: 1rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
    
                        .red-side-btn, .green-btn-side {
                            height: 100%;
                        }
    
                        .red-side-btn {
                            background-color: red;
                            border-radius: 1rem 0 0 1rem;
                        }
    
                        .green-btn-side {
                            background-color: green;
                            border-radius: 0 1rem 1rem 0;
                        }
    
                        .btn-dinamic {
                            position: absolute;
                            top: -4px;
                            right: -2px;
                            width: 35px;
                            border: 1px solid rgba($color: #000000, $alpha: .2);
                            height: 35px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
    
                            &.off {
                                left: -2px;
                            }
                        }
                    }
    
                }
            }
    
            button {
                background-color: unset;
                border: unset;
                background-color: #0095f6;
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                color: #fff;
                margin: .4rem 0;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                transition: all ease .2s;
                border-radius: .2rem;
    
                &:hover {
                    background-color: #0575c0;
                }

                &:focus {
                    outline: none;
                }
            }
    
            .alert-error-upload {
                background-color: red;
                padding: .4rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .2rem;
    
                span {
                    font-size: .9rem;
                    color: #fff;
                }
            }
        }
    
        .preview-image-upload {
            padding: 1rem;
    
            .alert-msg-preview {
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: .2rem;
                background-color: #fff;
                margin-bottom: .4rem;
                position: relative;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: .8);
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #0095f6;
                    content: '';
                }
            }
    
            .preview-image-show {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                .head-preview-image {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .info-about-user-preview {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
    
                        span {
                            font-size: .7rem;
                        }
                    }
                }
    
    
                .body-image-preview {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .principal-options-preview {
                    padding: 1rem;
                    .wrapper-options-preview {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        
                        .btn-principal-preview {
                            i {
                                margin-right: 1rem;
                            }
                            .fas {
                                color: red;
                            }
                        }
    
                        i {
                            font-size: 1.5rem;
                        }
                    }
    
                    .post-liked-info-preview {
                        margin: 1rem 0;
                        span {
                            strong {
    
                            }
                        }
                    }
    
                    .user-text-description-preview {
                        display: grid;
                        grid-template-columns: 20% 80%;
                        margin-bottom: 1rem;
                       span {
                        font-weight: 600;
                        font-size: .9rem;
                       }
                       
                        .description-box-preview {
                            padding: 0 .4rem;
    
                            p {
                                font-size: .9rem;
                            }
    
                       } 
                    }
    
                    .post-comments-box-preview {
                        .comment-post-box-preview {
                            display: grid;
                            margin: 1rem 0;
                            align-items: center;
                            grid-template-columns: 95% 5%;
                            p {
                                a {
                                    text-decoration: none;
                                    color: rgba($color: #000000, $alpha: .8);
                                    font-weight: 600;
                                }
                            }
    
                            i.fas {
                                color: red;
                            }
                        }
                    }
                }
    
            }
        }
    }
}

@media (min-width: 1201px) {
    .upload-image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        align-items: center;
        margin: 6rem auto 4rem;
    
        .form-section-upload-image {
            padding: 1rem;
            .upload-image-form {
                border: 1px dashed rgba($color: #000000, $alpha: .4);
                display: flex;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                label {
                    cursor: pointer;
                    font-weight: 300;
                    font-size: .8rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
    
                input[type="file"] {
                    display: none;
                }
            }
    
            .component-text-react {
                margin: 1rem 0 .4rem;
                textarea {
                    border: unset;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: .2rem;
                    resize: none;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.05rem;
                    font-family: 'Roboto', sans-serif;
                    height: 100px;
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);

                    &:focus {
                        outline: none;
                        border: 1px solid rgba($color: #0095f6, $alpha: .6);
                    }
                }
            }
    
            .configuration-post-aaction {
                background-color: #fff;
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                h5 {
                    font-size: 1rem;
                    font-weight: 300;
                }
    
                .option-configuration {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    label {
                        font-size: .9rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    .btn-container {
                        border: 1px solid rgba($color: #000000, $alpha: .3);
                        width: 58px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100%;
                        height: 25px;
                        border-radius: 1rem;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
    
                        .red-side-btn, .green-btn-side {
                            height: 100%;
                        }
    
                        .red-side-btn {
                            background-color: red;
                            border-radius: 1rem 0 0 1rem;
                        }
    
                        .green-btn-side {
                            background-color: green;
                            border-radius: 0 1rem 1rem 0;
                        }
    
                        .btn-dinamic {
                            position: absolute;
                            top: -4px;
                            right: -2px;
                            width: 35px;
                            border: 1px solid rgba($color: #000000, $alpha: .2);
                            height: 35px;
                            border-radius: 50%;
                            background-color: #fff;
                            box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
    
                            &.off {
                                left: -2px;
                            }
                        }
                    }
    
                }
            }
    
            button {
                background-color: unset;
                border: unset;
                background-color: #0095f6;
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                color: #fff;
                margin: .4rem 0;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                transition: all ease .2s;
                border-radius: .2rem;

                &:focus {
                    outline: none;
                }
    
                &:hover {
                    background-color: #0575c0;
                }
            }
    
            .alert-error-upload {
                background-color: red;
                padding: .4rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .2rem;
    
                span {
                    font-size: .9rem;
                    color: #fff;
                }
            }
        }
    
        .preview-image-upload {
            padding: 1rem;
    
            .alert-msg-preview {
                padding: 1rem;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                border-radius: .2rem;
                background-color: #fff;
                margin-bottom: .4rem;
                position: relative;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .05);
                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: rgba($color: #000000, $alpha: .8);
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #0095f6;
                    content: '';
                }
            }
    
            .preview-image-show {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                border-radius: .2rem;
                background-color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                .head-preview-image {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
    
                    .info-about-user-preview {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        a {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
    
                        span {
                            font-size: .7rem;
                        }
                    }
                }
    
    
                .body-image-preview {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .principal-options-preview {
                    padding: 1rem;
                    .wrapper-options-preview {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        
                        .btn-principal-preview {
                            i {
                                margin-right: 1rem;
                            }
                            .fas {
                                color: red;
                            }
                        }
    
                        i {
                            font-size: 1.5rem;
                        }
                    }
    
                    .post-liked-info-preview {
                        margin: 1rem 0;
                        span {
                            strong {
    
                            }
                        }
                    }
    
                    .user-text-description-preview {
                        display: grid;
                        grid-template-columns: 20% 80%;
                        margin-bottom: 1rem;
                       span {
                        font-weight: 600;
                        font-size: .9rem;
                       }
                       
                        .description-box-preview {
                            padding: 0 .4rem;
    
                            p {
                                font-size: .9rem;
                            }
    
                       } 
                    }
    
                    .post-comments-box-preview {
                        .comment-post-box-preview {
                            display: grid;
                            margin: 1rem 0;
                            align-items: center;
                            grid-template-columns: 95% 5%;
                            p {
                                a {
                                    text-decoration: none;
                                    color: rgba($color: #000000, $alpha: .8);
                                    font-weight: 600;
                                }
                            }
    
                            i.fas {
                                color: red;
                            }
                        }
                    }
                }
    
            }
        }
    }
}

.uploading-image-wait {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba($color: #000000, $alpha: .4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .lds-dual-ring {
        margin: 1rem 0;
    }
    
    h5 {
        color: #fff;
    }
}


/*  Loader  */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  